@model IEnumerable<ConsultDemonstrativoModel>
@{
    ViewData["Title"] = "Demonstrativo";
    var nome = User.Identity.Name;
    var DepartamentoClaim = User.FindFirst("Departamento");
    var Departamento = DepartamentoClaim != null ? DepartamentoClaim.Value : "N/A";
    var IdFuncionario = User.FindFirst("Id_Func");

    // Obter o mês atual
    var mesAtual = DateTime.Now.Month;

    // Gerar uma lista de meses anteriores ao atual
    var mesesAnteriores = Enumerable.Range(1, mesAtual - 1)
                                     .Select(m => UppercaseFirst(new DateTime(1, m, 1).ToString("MMMM")))
                                     .ToList();

    // Método para capitalizar a primeira letra de uma string
    string UppercaseFirst(string s) => char.ToUpper(s[0]) + s.Substring(1);
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<p id="passanome">@nome</p>
<p id="passadepartamento">@Departamento</p>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <div class="text-center">
        <h1 class="display-4">Demonstrativo Financeiro</h1>
    </div>

<label for="selecaoPonto">Selecione o mês desejado:</label>
        <div class="row">
            <div class="col-sm-2">
                <form>
                        <select id="selecaoPonto" class="form-control" name="tipoPonto">
                        @foreach (var mes in mesesAnteriores)
                        {
                            <option value="@mes">@mes</option>
                        }
                    </select>
                    <br />
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    
    <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">CPF</th>
                    <th scope="col">Cargo</th>
                    <th scope="col">Data de Inicio</th>
                    <th scope="col">Data Final</th>
                    <th scope="col">INSS</th>
                    <th scope="col">Imposto de Renda</th>
                    <th scope="col">Descontos Totais</th>
                    <th scope="col">Salário Final</th>
                </tr>
            </thead>
                <tbody>
                    @if (Model != null)
                    {

                        @foreach (var demostrativo in Model)
                        {
                            <tr>

                            <td>@demostrativo.nome</td>
                            <td>@demostrativo.cpf</td>
                            <td>@demostrativo.cargo</td>
                            <td>@demostrativo.dataInicio.ToString("dd/MM/yyyy")</td>
                            <td>@demostrativo.dataFinal.ToString("dd/MM/yyyy")</td>
                            <td>@demostrativo.inss</td>
                            <td>@demostrativo.impostoRenda</td>
                            <td> @(Convert.ToDecimal(demostrativo.inss) + Convert.ToDecimal(demostrativo.impostoRenda))</td>
                            <td>@demostrativo.salarioFinal</td>
                        </tr>
                    }
                }

            </tbody>
    </table>

<!-- Modal -->
<div class="modal fade" id="detalhesModal" tabindex="-1" role="dialog" aria-labelledby="detalhesModalLabel" aria-hidden="true" style="min-height: 80vh;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content border rounded">
            <div class="container" style="background-color: #007BFF; color: #fff; border-bottom: 1px solid #ddd; border-radius: 0.25rem 0.25rem 0 0; display: flex; align-items: center; justify-content: space-between; padding: 15px;">
                <!-- Container para o nome da empresa -->
                <div class="container">
                    <h6 class="modal-title">BATATA - FRITANDO SEUS PROBLEMAS </h6>
                    <h7 class="modal-title">CNPJ: 99.999.999/0001-99</h7>
                </div>
                <!-- Container para as informações do mês e ano -->
                <div class="container text-right">
                    <h6>Demonstrativo de Pagamento Salário<br />Contra Cheque<p>Mês e Ano: @mesAtual</p></h6>
                </div>
            </div>
            <div class="modal-body">
                <!-- Container com linha divisória -->
                <div class="container border-bottom mb-3 rounded" style="background-color: #ededf2; padding: 10px; display: flex; align-items: center; justify-content: space-between">
                    <!-- Container para as informações do funcionário -->
                    <div class="container">
                        <h6>Informações do Funcionário</h6>
                        <p>Nome: @nome</p>
                        <p>Departamento: @Departamento</p>

                    </div>
                    <div class="container text-right">
                        <h6>Cargo: </h6>
                        <h6>CPF: </h6>
                    </div>
                </div>
                <!-- Container para os detalhes do demonstrativo -->
                <div class="container border rounded" style="background-color: #ededf2; padding: 10px;">
                    <h6 class="text-center">Detalhes do Demonstrativo</h6>
                    <!-- Adicione uma tabela para o contra cheque -->
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th colspan="2">Descrição</th>
                                <th scope="col">Referência</th>
                                <th scope="col">Descontos</th>
                                <th scope="col">Vencimentos</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="2">Vale Refeição</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="2">Vale Transporte</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="2">INSS</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="2">Imposto de Renda</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="2">Valor Hora</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="2">Vale Transporte</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="3">Observações</td>
                                <td>Total Desc.</td>
                                <td>Total Venc.</td>
                            </tr>
                            <tr>
                                <td colspan="3" rowspan="2"></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="3">Total Líquido: </td>
                            </tr>
                            <!-- Adicione mais linhas conforme necessário -->
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer" style="background-color: #f8f9fa; border-top: 1px solid #ddd; border-radius: 0 0 0.25rem 0.25rem;">
                <button type="button" class="btn btn-secondary" onclick="fecharModal()">Fechar</button>
            </div>
        </div>
    </div>
</div>











                <script>
    function abrirModal() {
        $('#detalhesModal').modal('show');
    }

    // Função para fechar a modal
    function fecharModal() {
        $('#detalhesModal').modal('hide');
    }

    // Adicione isso ao seu botão de submit
    $('form').submit(function (e) {
        e.preventDefault(); // Impede o envio padrão do formulário
        abrirModal();
    });

    // Adicione isso ao botão de fechar dentro da modal
    $('#detalhesModal').on('hidden.bs.modal', function () {
        // Limpar conteúdo da modal, se necessário
    });
    </script>

    <script>
        $(document).ready(function () {
            // Defina o valor inicial ao carregar a página
            atualizarMesAno();

            // Adicione um ouvinte de evento para o evento de alteração do select
            $('#selecaoPonto').change(function () {
                // Atualize a <div> com o ano atual e o mês selecionado
                atualizarMesAno();
            });

            function atualizarMesAno() {
                // Obtenha o valor selecionado do select
                var mesSelecionado = $('#selecaoPonto').val();

                // Obtenha o ano atual
                var anoAtual = new Date().getFullYear();

                // Atualize o conteúdo da <div>
                $('.container.text-right p').text('Mês e Ano: ' + mesSelecionado + ' ' + anoAtual);
            }
        });
    </script>