@model IEnumerable<DadosFuncionarioEFeriasModel>

@{
    ViewData["Title"] = "Consultar Férias TESTE";
}
</div>

<h1 class="display-4">Consultar Férias TESTE</h1>
<br />
<form method="post" asp-action="ConsultarFeriasTeste">
    <input type="number" name="RecId" placeholder="Digite o valor do Id">
    <button type="submit">Consultar</button>
</form>
<br />

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Id Funcionario</th>
      <th scope="col">Nome</th>
      <th scope="col">CPF</th>
      <th scope="col">Departamento</th>
      <th scope="col">Localidade</th>
      <th scope="col">Data de Inicio</th>
      <th scope="col">Data Final</th>
      <th scope="col">Parcela</th>
      <th scope="col">Quantidades de dias</th>
    </tr>
  </thead>
  <tbody>
        @if (Model != null)
        {

            @foreach (var ferias in Model)
            {
             <tr>

                <td>@ferias.Nome</td>
                <td>@ferias.CPF</td>
                <td>@ferias.Departamento</td>
                <td>@ferias.Localidade</td>
                <td>@ferias.DataInicioFerias</td>
                <td>@ferias.DataTerminoFerias</td>

            </tr>
            }
        }

  </tbody>
</table>