@model IEnumerable<PontoModel>

@{
    ViewData["Title"] = "Cadastrar Ponto";
    var nome = User.Identity.Name;
    var DepartamentoClaim = User.FindFirst("Departamento");
    var Departamento = DepartamentoClaim != null ? DepartamentoClaim.Value : "N/A";
}
<script src="~/js/scripPonto.js"></script>
<p id="passanome">@nome</p>
<p id="passadepartamento">@Departamento</p>
<style>
  #passanome {
    display: none;
  }
  #passadepartamento{
    display: none;
  }
</style>
<div class="text-center">
    <h1 class="display-4">Cadastrar Ponto</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Departamento</th>
            <th scope="col">Data</th>
            <th scope="col">Dia da Semana</th>
            <th scope="col">Entrada</th>
            <th scope="col">Início Almoço</th>
            <th scope="col">Término Almoço</th>
            <th scope="col">Início Pausa</th>
            <th scope="col">Término Pausa</th>
            <th scope="col">Saída</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ponto in Model)
        {
            <tr>
                <td contenteditable="false">@ponto.Nome</td>
                <td>@ponto.Departamento</td>
                <td>@ponto.Data.ToString("dd/MM/yyyy")</td>
                <td>@ponto.DiaSemana</td>
                <td>@ponto.HoraEntrada</td>
                <td>@ponto.HoraInicioAlmoco</td>
                <td>@ponto.HoraRetornoAlmoco</td>
                <td>@ponto.HoraInicioPausa</td>
                <td>@ponto.HoraRetornoPausa</td>
                <td>@ponto.HoraSaida</td>
            </tr>
        }
        <tr id="newRow">
            <td id="nomeFunc" contenteditable="false"></td>
            <td id="departamentoFunc" contenteditable="false"></td>
            <td id="data" contenteditable="false"></td>
            <td id="diaSemana" contenteditable="false"></td>
            <td id="entrada" contenteditable="false"></td>
            <td contenteditable="false"></td>
            <td contenteditable="false"></td>
            <td contenteditable="false"></td>
            <td contenteditable="false"></td>
            <td contenteditable="false"></td>
        </tr>
    </tbody>
</table>

<button id="adicionarEntradaButton" class="btn btn-success">Adicionar Entrada</button>


<button id="saveButton" class="btn btn-primary">Salvar Alterações</button>


