@model IEnumerable<PontoModel>

@{
    ViewData["Title"] = "Ponto";
    var nome = User.Identity.Name;
    var DepartamentoClaim = User.FindFirst("Departamento");
    var Departamento = DepartamentoClaim != null ? DepartamentoClaim.Value : "N/A";
    var IdFuncionario = User.FindFirst("Id_Func");
}
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <p id="passanome">@nome</p>
    <p id="passadepartamento">@Departamento</p>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="text-center">
    <div class="d-grid gop-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-asp-controller="Ponto" asp-action="">Adicionar Ponto</a>
        <button id="adicionarPontoBtn" class="btn btn-primary">Adicionar Ponto Teste</button>

    </div>
    <br />

<div id="pontoModal" class="modal">
    <div class="modal-content">
        <span class="close" id="fecharModal">&times;</span>
        <form asp-controller="Ponto" asp-action="SalvarPonto" method="post">
           
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="Nome" value="@nome" disabled /><br />

            <label for="departamento">Departamento:</label>
            <input type="text" id="departamento" name="Departamento" value="@Departamento" disabled /><br />

            <label for="IddataForm">Data:</label>
            <input type="text" id="IddataForm" name="db_Data" disabled /><br />

            <label for="IdDiaSemana">Dia da Semana:</label>
            <input type="text" id="IdDiaSemana" name="db_DiaSemana" disabled /><br />

            <label for="selecaoTipPonto">Selecione o tipo de Ponto:</label>
            <select id="selecaoPonto" name="tipoPonto">
            <option value="PontEntrada">Ponto de Entrada</option>
            <option value="PontoIniAlmo">Ponto de Inicio Almoço</option>
            <option value="PontoTermAlmo">Ponto Término Almoço</option>
            <option value="PontoIniPausa">Ponto Inicio Pausa</option>
            <option value="PontoTermPausa">Ponto Término Pausa</option>
            <option value="PontoSaida">Ponto Ponto de Saida</option>
            </select>

            <label for="horaAtual">Hora Atual:</label>
            <input type="text" id="horaAtual" disabled/><br />
             <input type="hidden" id="HrPontEntrada" name="db_HoraEntrada" value="00" />
             <input type="hidden" id="HrPontoIniAlmo" name="db_HoraInicioAlmoco"  />
             <input type="hidden" id="HrIdPontoTermAlmo" name="db_db_HoraRetornoAlmoco"  />
             <input type="hidden" id="HrPontoIniPausa" name="db_HoraInicioPausa" />
             <input type="hidden" id="HrPontoTermPausa" name="db_HoraRetornoPausa"  />
             <input type="hidden" id="HrPontoSaida" name="db_HoraSaida"  />

            <button id="salvarPontoBtn" class="btn btn-primary"  type="submit">Salvar Ponto</button>
        </form>
    </div>
</div>


</div>
<h1 class="display-4">Listagem de Pontos</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Departamento</th>
      <th scope="col">Data</th>
      <th scope="col">Dia da Semana</th>
      <th scope="col">Entrada</th>
      <th scope="col">Inico Almoço</th>
      <th scope="col">Término Almoço</th>
      <th scope="col">Inicio Pausa</th>
      <th scope="col">Término Pausa</th>
      <th scope="col">Saida</th>
    </tr>
  </thead>
  <tbody>
        @if (Model != null)
        {   
            @foreach(var ponto in Model)
            {
             <tr>
                 <td>@nome</td>
                 <td>@Departamento</td>
                 <td>@ponto.db_Data.ToString("dd/MM/yyyy")</td>
                 <td>@ponto.db_DiaSemana</td>
                 <td>@ponto.db_HoraEntrada</td>
                 <td>@ponto.db_HoraInicioAlmoco</td>
                 <td>@ponto.db_db_HoraRetornoAlmoco</td>
                 <td>@ponto.db_HoraInicioPausa</td>
                 <td>@ponto.db_HoraRetornoPausa</td>
                 <td>@ponto.db_HoraSaida</td>
            </tr> 
            }
        }

  </tbody>
</table>
<script>

    class TimeSpan {
    constructor(hours, minutes, seconds) {
    this.hours = hours || 0;
    this.minutes = minutes || 0;
    this.seconds = seconds || 0;
  }

  // Adicione métodos ou propriedades adicionais conforme necessário
}

    $(document).ready(function() {
        $("#adicionarPontoBtn").click(function() {
            
            // Obter a hora atual
            var dataAtual = new Date();
            var horaAtual = dataAtual.toLocaleTimeString();
            var dataFormatada = dataAtual.toLocaleDateString();
            var diaSemana = dataAtual.toLocaleDateString('pt-BR', { weekday: 'long' });
           
            
            var partesHora = horaAtual.split(":");
            var horas = parseInt(partesHora[0], 10); // Converte a parte de horas para um número inteiro
            var minutos = parseInt(partesHora[1], 10); // Converte a parte de minutos para um número inteiro
            var segundos = parseInt(partesHora[2], 10); // Converte a parte de segundos para um número inteiro
            var horaConvert = new TimeSpan(horas, minutos, segundos);


            
            $("#HrPontEntrada").val(horaAtual);
            $("HrPontoIniAlmo").val(horaAtual);
            $("HrIdPontoTermAlmo").val(horaAtual);
            $("HrIdPontoTermAlmo").val(horaAtual);
            $("HrIdPontoTermAlmo").val(horaAtual);
            $("HrIdPontoTermAlmo").val(horaAtual);
            $("#IddataForm").val(dataFormatada);
            $("#IdDiaSemana").val(diaSemana);
            $("#horaAtual").val(horaAtual);

 

            // Mostrar o modal
            $("#pontoModal").show();
        });

        // Fechar o modal quando o botão de fechamento é clicado
        $("#fecharModal").click(function() {
        $("#pontoModal").hide();
        });
    });
    </script>
    <div id="mensagemDiv"></div>

    <script>
            $(document).ready(function() {
            $("#salvarPontoBtn").click(function() {
            $("#IddataForm").prop("disabled", false);
            $("#IdDiaSemana").prop("disabled", false);

            var tipoPonto =  $("#selecaoPonto").val();
            var mensagemDiv = $("#mensagemDiv");
            
         
            switch(tipoPonto){
                case "PontEntrada":
                 mensagemDiv.text("PontEntrada");
                 break;
                case "PontoIniAlmo":
                 mensagemDiv.text("PontoIniAlmo");
                 break;
                default:
                  mensagemDiv.text("Dia não identificado");

            }
            var dadosPonto = {
                db_IdFuncionario: idFuncionarioTeste,
                db_Data: dataFormatada,
                db_DiaSemana: diaSemana,
                db_HoraEntrada: horaConvert,
               
            };
                $.ajax({
                url:"/Ponto/SalvarPonto",
                type: "POST", // Método de solicitação
                data: dadosPonto, // Dados a serem enviados
                success: function (response) {
                // Lida com o sucesso, por exemplo, feche o modal
                $("#pontoModal").hide();
                },
                error: function (error) {
                // Lida com erros, se houver algum
                console.error(error);
                }
            });
            return false;
            
        });
    });

</script>


